<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>

        <ul>
            <% people.forEach(function(person) { %>
              <li>
                <%= person.name %>
              </li>
            <% }) %>
        </ul>


    </body>
</html>